<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #blank {margin-left: 50px;margin-top: 10px;}
        p {margin-left:20px;}
        body {background-image:url("images/back40.gif");}
        .box .left{
            width:20%;
            float:left;
        }
        .box .right{
            width:70%;
            float:left;
        }
    </style>
</head>
<body>
    <h2 id="blank">Pitch Identification for Guzheng (Identify a single clear note of the D-major Guzheng)</h2>
    <span id="blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—— Programmed by Yao Xiang</span>
    <h4>Instructions</h4>
    <ul>
        <li>I provide a set of recorded notes below, since it might be hard to get them in a short time.</li>
        <li>You can preview those notes below.
            <ul>
                <li>21 notes sequentially represent 21 strings on a D-major Guzheng. I also use the number of a string to denote the corresponding note.</li>
            </ul>
        </li>
        <li>To directly view all the pitch spectrums, scroll to the bottom.</li>
    </ul>
    <div class="box">
        <div class="left">
            <div style="text-align: center; margin-top: 2%;"><b>Guzheng note table</b></div>
            <img src="static/Guzhengnotes_nowm.jpg" alt="Guzheng_picture" width="100%" style="margin-left: 2%; margin-top: 2%;">
        </div>
        <div class="left">
            <ul>
                <li>Note 1<audio controls><source src="static/data/1.wav" type="audio/wav" "></audio></li>
                <li>Note 2<audio controls><source src="static/data/2.wav" type="audio/wav" "></audio></li>
                <li>Note 3<audio controls><source src="static/data/3.wav" type="audio/wav" "></audio></li>
                <li>Note 4<audio controls><source src="static/data/4.wav" type="audio/wav" "></audio></li>
                <li>Note 5<audio controls><source src="static/data/5.wav" type="audio/wav" "></audio></li>
                <li>Note 6<audio controls><source src="static/data/6.wav" type="audio/wav" "></audio></li>
            </ul>
        </div>
        <div class="left">
            <ul>
                <li>Note 7<audio controls><source src="static/data/7.wav" type="audio/wav" "></audio></li>
                <li>Note 8<audio controls><source src="static/data/8.wav" type="audio/wav" "></audio></li>
                <li>Note 9<audio controls><source src="static/data/9.wav" type="audio/wav" "></audio></li>
                <li>Note 10<audio controls><source src="static/data/10.wav" type="audio/wav" "></audio></li>
                <li>Note 11<audio controls><source src="static/data/11.wav" type="audio/wav" "></audio></li>
                <li>Note 12<audio controls><source src="static/data/12.wav" type="audio/wav" "></audio></li>
            </ul>
        </div>
        <div class="left">
            <ul>
                <li>Note 13<audio controls><source src="static/data/13.wav" type="audio/wav" "></audio></li>
                <li>Note 14<audio controls><source src="static/data/14.wav" type="audio/wav" "></audio></li>
                <li>Note 15<audio controls><source src="static/data/15.wav" type="audio/wav" "></audio></li>
                <li>Note 16<audio controls><source src="static/data/16.wav" type="audio/wav" "></audio></li>
                <li>Note 17<audio controls><source src="static/data/17.wav" type="audio/wav" "></audio></li>
                <li>Note 18<audio controls><source src="static/data/18.wav" type="audio/wav" "></audio></li>

            </ul>
        </div>
        <div class="left">
            <ul>
                <li>Note 19<audio controls><source src="static/data/19.wav" type="audio/wav" "></audio></li>
                <li>Note 20<audio controls><source src="static/data/20.wav" type="audio/wav" "></audio></li>
                <li>Note 21<audio controls><source src="static/data/21.wav" type="audio/wav" "></audio></li>
            </ul>
        </div>
    </div>  
    <h4 style="clear: both;">Get Started</h4>
    <div id="blank">
        <form action="/identify" method="POST" enctype="multipart/form-data">
            <span>Type in the number of a note:&nbsp;&nbsp;<input size="9" type="text" name="k"/> (e.g., If you want the note 5 shown above to be identified, just type in 5)&nbsp;&nbsp;</span>           
            <br>
            <span>Or you can upload your own recorded note here (must be in WAV format and in D-major):&nbsp;&nbsp;</span>
            <input type="file" name="file" accept="audio/wav" value="Upload"  />
            <br>
            <span>Then click this:&nbsp;&nbsp;</span>
            <input type="submit" value="Identify!" />
            <br>
            <span><b style="font-size: 25px; color: red;">{{ Pitch }}</b></span>
        </form>
    </div>
    <br>
    <div class="box">
        <div class="left" style="width: 50%;">
            <div style="text-align: center;">
                <img src="{{ img_dir }}" alt="Pitch spectrum would show up here" height="450">
            </div>
        </div>
    </div>
    <br>
    <h4 style="clear: both;">How I implemented this program</h4>
    <ul>
        <li>First using Fourier transformation to get the pitch spectrum, which is shown above.
            <ul>
                <li>A little explanation: the leftmost peak with a high prominence is usually the pitch of the note. This pattern could actually be easily seen with bare eyes. </li>
            </ul>
        </li>
        <li>Second using the peak detection algorithm to find the first peak with a high prominence. Done!</li>
        <ul>
            <li>I've tried other machine learning algorithms to identify the pattern. But later I found that a simple rule-based peak detection algorithm works best.</li>
        </ul>
        <li><a href="" target="_blank">Click here to go to my github page to view the source code of this project.</a></li>    </ul>
    <h4 style="clear: both;">Pitch Spectrum of 21 notes (The leftmost peak with a high prominence is the pitch.)</h4>
    <div class="box">
        <div class="left"><img src="static/1.jpg" alt="Note 1" width="100%"></div>
        <div class="left"><img src="static/2.jpg" alt="Note 2" width="100%"></div>
        <div class="left"><img src="static/3.jpg" alt="Note 3" width="100%"></div>
        <div class="left"><img src="static/4.jpg" alt="Note 4" width="100%"></div>
        <div class="left"><img src="static/5.jpg" alt="Note 5" width="100%"></div>
        <div class="left"><img src="static/6.jpg" alt="Note 6" width="100%"></div>
        <div class="left"><img src="static/7.jpg" alt="Note 7" width="100%"></div>
        <div class="left"><img src="static/8.jpg" alt="Note 8" width="100%"></div>
        <div class="left"><img src="static/9.jpg" alt="Note 9" width="100%"></div>
        <div class="left"><img src="static/10.jpg" alt="Note 10" width="100%"></div>
        <div class="left"><img src="static/11.jpg" alt="Note 11" width="100%"></div>
        <div class="left"><img src="static/12.jpg" alt="Note 12" width="100%"></div>
        <div class="left"><img src="static/13.jpg" alt="Note 13" width="100%"></div>
        <div class="left"><img src="static/14.jpg" alt="Note 14" width="100%"></div>
        <div class="left"><img src="static/15.jpg" alt="Note 15" width="100%"></div>
        <div class="left"><img src="static/16.jpg" alt="Note 16" width="100%"></div>
        <div class="left"><img src="static/17.jpg" alt="Note 17" width="100%"></div>
        <div class="left"><img src="static/18.jpg" alt="Note 18" width="100%"></div>
        <div class="left"><img src="static/19.jpg" alt="Note 19" width="100%"></div>
        <div class="left"><img src="static/20.jpg" alt="Note 20" width="100%"></div>
        <div class="left"><img src="static/21.jpg" alt="Note 21" width="100%"></div>
        </div>
    </body>
</html>